<% provide(:title, 'Enrollments') %>

<h2>Students enrolled</h2>
<h4> <%=@courses.Title %></h4>
<center>
<table style="width:70%">
  <tr>
  <h5>
      <th>User Name</th>
      <th>Email</th>
      <th></th>
  </h5>
  </tr>

<ul class="users">
  <% @students.each do |s| %>  
  <tr>
      
    <td>
    <%= link_to s.name, students_show_path(:id=>s.id) %>
    </td>
    <td>
      <%= s.email %>
    </td>
    
    <td>
    <% e = Enrollment.find_by(:student_id=> s.id, :course_id => @courses.id) %>
    <%= link_to "Delete", enrollments_path(:id=>e), method: :delete, data: { confirm: "Confirm?"} %>
    </td>

  </tr>
  <% end %>
</ul>
</table>
</center>
