<% provide(:title, 'Students') %>

<h1>NCSU Class Portal Students</h1>
<center>
<table style="width:70%">
  <tr>
	<h5>
    	<th>User Name</th>
    	<th>Email</th>
    	<th>Role</th>
    	<th></th>
	</h5>
  </tr>

<ul class="users">
	<% @users.each do |user| %>
	<% if user.student %>
		
	<tr>
			
		<td>
		<%= link_to user.name, users_show_path(:id=>user.id) %>
		</td>
		<td>
			<%= user.email %>
		</td>
		<td> Student </td>		
		<td> 
		<%if !user.super and user!=current_user %>
		<%= link_to "Delete", users_path(:id=>user.id), method: :delete, data: { confirm: "Confirm?"} %>
		<%end%>
		</td>

	</tr>
	<% end %>
	<% end %>
</ul>
</table>
</center>
