<p id="notice"><%= notice %></p>
<h1>Student Details</h1>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Role:</strong>
    Student
 
</p>

<%= link_to 'Back', :back %>
