<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
  </head>
  <body>
    <h1>About</h1>
    <p>
     This is the about page for NCSU Class Portal
    </p>
  </body>
<div class="center jumbotron">
  <h2><font color=black>Contributors</font></h2>
  <h4>
    <li>Vaibhav Rajadhyaksha | vrajadh@ncsu.edu</li>
    <li>Ritwika Roy | rroycho@ncsu.edu</li>
    <li>Dhaval Sonawane  | dsonawa@ncsu.edu</li>
  </h4>
<h2><font color=black>References</font></h2>
  <h4>
    <li>www.railstutorials.com</li>
    <li>www.stackoverflow.com</li>
  </h4>
</div>

</html>