
<h1>References</h1>
<% if !flash[:notice].blank? %>
    <div class = "alert alert-info">
      <%= flash[:notice] %>
    </div>
<% end %>

<br/>
<% if !current_user.student? %>
<%= link_to "Add new Reference", new_course_reference_path(Course.find(params[:course_id])), class: "btn btn-primary" %>
<% end %>
<br />
<br />

<table class = "table table-bordered table-striped">
  <thead>
  <tr>
    <th>S. No.</th>
    <th>File</th>
  </tr>
  </thead>
  <tbody>
  <% @references.each do |ref| %>
      <tr>
        <% i=1 %>
        <td><%= i %></td>
        <td><%= link_to "#{ref.description}", ref.attachment_url %></td>
        <% i=i+1 %>
      </tr>
  <% end %>
  </tbody>
</table>