<p id="notice"><%= notice %></p>
<h1>Instructor Details</h1>

<p>
  <strong>Name:</strong>
  <%= @instructor.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @instructor.email %>
</p>

<p>
  <strong>Role:</strong>
    Instructor
 
</p>

<%= link_to 'Back', :back %>
